:root {
   
    --admin-color: #C8102E;      
    --jefe-color: #0f172a;      
    --aux-color: #475569;       
    
    --sync-green: #22c55e;
    --sync-red: #ef4444;
    --font-main: 'Inter', system-ui, -apple-system, sans-serif;
}


.admin-mode { --accent: var(--admin-color); --glow: rgba(200, 16, 46, 0.4); }
.jefe-mode { --accent: var(--jefe-color); --glow: rgba(15, 23, 42, 0.4); }
.aux-mode { --accent: var(--aux-color); --glow: rgba(71, 85, 105, 0.4); }

* { margin: 0; padding: 0; box-sizing: border-box; font-family: var(--font-main); }

body { height: 100vh; overflow: hidden; transition: background 0.5s ease; }
body.dark { background-color: #020202; color: #ffffff; }
body.light { background-color: #f5f5f7; color: #1d1d1f; }


.accent-text { color: var(--accent); font-weight: 700; }
.bg-accent { background-color: var(--accent); color: white; }